.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.trump-div {
  margin-bottom: 10px;
}

.trump-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.85em;
  cursor: pointer;
  width: 100px;
}

.top-trump-filter {
  display: none;
}

.top-icon {
  color: rgb(180, 180, 180);
  cursor: pointer;
}

.top-trump-filter:checked ~ label .top-icon {
  color: rgb(95, 218, 223);
}

.top-trump-filter:hover ~ label .top-icon {
  color: rgb(95, 218, 223);
}

@media screen and (max-width: 440px) {
  .filter-container {
    flex-direction: column;
    gap: 5px;
  }
}
