.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24em;
  border: 2px solid;
  border-image: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(252,204,77,1) 0%, rgb(124, 172, 255) 100%) 1 1;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-label {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(29, 29, 29);
  justify-content: center;
}

.top-p {
  margin-bottom: 10px;
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(29, 29, 29);
}

input {
  width: 65%;
  border-radius: 3px;
  border: 2px solid #FFFFFF;
  outline: none;
  height: 25px;
  padding-left: 4px;
}

input:hover {
  border: 2px solid rgb(199, 226, 255);
}

.select-input {
  border: 0;
  border-radius: 3px;
  outline: none;
  padding: 2px;
  background-color: white;
  color: rgb(34, 34, 34);
}

.checkbox-input {
  display: none;
}

.top-icon {
  color: rgb(180, 180, 180);
  cursor: pointer;
}

.checkbox-input:checked ~ label .top-icon {
  color: rgb(95, 218, 223);
}

.checkbox-input:hover ~ label .top-icon {
  color: rgb(95, 218, 223);
}

.add-margin {
  margin-bottom: 10px;
}

.image-input {
  width: 65%;
}

.description-input {
  height: 80px;
  margin-bottom: 10px;
  padding-left: 4px;
  padding-right: 2px;
  resize: none;
  width: 225px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.description-input:hover {
  border: 2px solid rgb(199, 226, 255);
}

.save-button {
  margin: 0 auto;
  width: 15%;
  border: none;
  border-radius: 4px;
  padding: 4px;
  font-weight: 600;
  font-size: 0.9em;
  background-color: rgb(181, 181, 226);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.save-button:enabled:hover {
  background-color: rgb(46, 46, 46);
  color: rgb(196, 196, 255);
}

.save-button:disabled {
  background-color: rgb(199, 199, 199);
  color: rgb(133, 133, 133);
  cursor: auto;
}

input, select {
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .description-input {
    width: 200px;
  }
}

@media screen and (max-width: 430px) {
  .save-button {
    padding: 4px 6px;
    width: auto;
  }

  .description-input {
    height: 60px;
  }
}

@media screen and (max-width: 320px) {
  .description-input {
    width: 180px;
  }
}
